*, ::after, ::before{
    box-sizing: border-box;
    margin: 2px;
}

.sct-head-languages{
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-left: 0;
}

.sct-head-1{
    border-left: 1px solid black;
}

.sct-head-txt-label{
        left: calc(50% - 1.2rem);
        line-height: 1;
        padding-top: 1.5rem;
        position:static;
        transform: rotate(180deg);
        white-space: nowrap;
        writing-mode: vertical-rl;
}

.sct-txt-color{
    color: rgb(0, 0, 0);
}

.sct-head-icon{
    margin-bottom: .3rem;
}

.sct-general-icon{
    vertical-align: middle;
    flex-shrink: 0;
    width: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sct-table{
    border: 3px solid black;
    border-collapse: separate;
    border-radius: 8px;
    border-spacing: 0px;
    margin: 1rem 0;
    width: 100%;
}

.sct-naming{
    height: 2rem;
    
}

.sct-head-col-languages{
    vertical-align: revert;
    border: 1px solid rgb(0, 0, 0);
    border-left: 0;
    border-bottom: 0;
}

.sct-col-color-1{
    background-color: aqua;
}

table{
    display: table;
    border: 1px solid rgb(0, 0, 0);
    text-indent: initial;
    border-spacing: 2px;
    border-color: rgb(0, 0, 0);
}

th {
    background: rgb(139, 139, 139);
    padding: 0.1rem;
    vertical-align: bottom;
}

tbody td {
    border: 1px solid rgb(0, 0, 0);
    border-spacing: 2px;
}




@media screen and (min-width: 1500px){
    .sct-container{
        width: calc(100% + 0);
    }
}

@media screen and (min-width: 1200px) {
    .sct-container{
        margin: 0px 3rem 0px 3rem;
        overflow:visible;
    }

    .sct-container-inner{
        min-width: max-content;
        padding: 0px 1rem;
        position: relative;
    }

    .sct-container-inner::after{
        bottom: 0;
        content: "";
        height: 10px;
        position: absolute;
        right: 0;
        width: 10px;
    }

}
